<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>商家入驻</title>
    <link href="/public/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div>
      <button id="logout" type="submit" class="btn btn-default">推出登录</button>
    </div>
    <script src="/public/jquery-1.12.4/jquery.min.js"></script>
    <script src="/public/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="/public/axios/axios.min.js"></script>
    <script>
      $('#logout').click(function(event){
        event.preventDefault()
        axios.post('/api/v1/seller/logout').then(function(res){
          console.log(res)
        }).catch(function(e){
          console.log(e)
        })
      })
    </script>
  </body>
</html>